<p id="notice"><%= notice %></p>

<tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td>
        <td><%= link_to 'take', take_quiz_take_path(quiz) %></td>
      </tr>
    <% end %>
  </tbody>